@font-face{font-family:'BebasNeueRegular';src:url('../fonts/CGothic.ttf') format('truetype');}
@font-face{font-family:'CobertRegular'; src:url('../fonts/Corbert-Regular.otf') format('truetype');}
@font-face{font-family:'Kanit';src:url('../fonts/Kanit-Regular.ttf') format('truetype');}
@font-face{font-family:'BodoniXT';src:url('../fonts/FeFCrm27C.otf') format('truetype');}
@font-face{font-family:'Zurich';src:url('../fonts/Zurich Light Extra Condensed BT.ttf') format('truetype');}


html,body{margin:0;padding:0;}

a:link    {text-decoration:none;}

p{text-align:center;}

h3 {
  overflow: hidden;
  text-align: center;
}

h3:before,
h3:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h3:before {
  right: 0.5em;
  margin-left: -50%;
}

h3:after {
  left: 0.5em;
  margin-right: -50%;
}

h4 {
  overflow: hidden;
  /* text-align: center; */
  font-family: 'Zurich';
  font-size:35px;
  color: white;
  margin-bottom: 10px;
}
	.page{
	
		background-repeat: no-repeat;
		background-size: cover;
	}
	.page:after{
		position:fixed;width:100%;height:100%;top:0px;left:0px;z-index:0;
		content:'';background:transparent url(pattern.png) repeat top left;
		z-index:-1;
		-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,1))); /*fades image*/
	}
	
	
	.container{position:relative;text-align:center;}
	.clr{clear:both;}
	.container > header{padding:30px 30px 10px 20px;margin:0px 20px 10px 20px;position:relative;display:block;text-shadow:1px 1px 1px rgba(0,0,0,0.2);text-align:center}
	.container > header h1{font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;font-size:48px;line-height:45px;position:relative;font-weight:400;color:#ccccff;text-shadow:2px 2px 1px rgba(0,0,0,1);padding:0px 0px 5px 0px;}
	.container > header h1 span{}
	.container > header h2, p.info{
				font-family: 'Kanit';
				font-size:56px;
				color:#ffffff;
				margin-left: 108px;
				margin-right:100px;
				margin-top: 0px;
				margin-bottom: -25px;
				text-align: center;
				font-weight:450;
	}
	
/* Simple Menu Start*/
	.codrops-top{font-family:'BebasNeueRegular',Arial, sans-serif;font-size:16px;line-height:50px;background:#FDFCEC;opacity:0.9;z-index:9999;position:relative;-moz-box-shadow:1px 0px 2px #ADAC99;-webkit-box-shadow:1px 0px 2px #ADAC99;box-shadow:1px 0px 2px #ADAC99;}
	.codrops-top a{padding:0px 10px;letter-spacing:1px;color:#A50606;display:block;float:left;}
	.codrops-top a:hover{/* color:#BE9BC9; */}
	.codrops-top span.right{float:right;text-transform:uppercase; margin-right:100px;}
	.codrops-top span.right a{float:none;display:inline;}
	.codrops-top span.right a:hover{font-weight:bold;}     /* sets weight of <span class="right"> links to bold on hover */
	.codrops-top span.right a:hover strong{color:#0c1b2b;} /* sets colour of <strong> links inside <span class="right"> on hover */
	
	.codrops-top span.left{font-family:BodoniXT; font-size:20px;}
	.codrops-top span.left a{display:inline; color:#111111;}
	.codrops-top span.left a:hover{color:#111111;} /* sets colour of <span class="left"> links on hover */
/* Simple Menu End*/

/* Hover Menu START */
	.dropdown {float: left; overflow: hidden;}
	.dropdown .dropbtn {font-size:16px; border:none; outline:none; color:white; padding:14px 16px; background-color:inherit; font:inherit; margin:0;}
	.dropdown-content {margin-right: auto; margin-left: auto; display:none; position:absolute; background-color:#f9f9f9; width:100%; max-width:150px; box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2); z-index:1;}
	.dropdown-content a {float:none; color:black; text-decoration:none; display:block; text-align:left;}
	.dropdown-content a:hover {text-decoration:underline;}
	.dropdown:hover .dropdown-content {display: block;}
/* Hover Menu END */
	
/* CLICK Menu START */
	.dropdown-content2 {text-align:left; margin-right: auto; margin-left: auto; margin-top:10px; display:none; position:absolute; background-color:#f9f9f9; width:100%; max-width:165px; box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2); z-index:1;}
	.dropdown-content2 a {float:none; color:black; text-decoration:none; display:block; text-align:left;}
	.dropdown-content2 a .lang-entry:hover {background-color:#ddd;}
	#btnControl {
		display: none;
	}
	#btnControl:checked + label .dropdown-content2 {
		display: block;
	}
	.btn{
		cursor: pointer;
		float: left; 
		overflow: hidden;
		padding-left:10px;
	}
	
	.lang-entry{
		width: 100%;   
		float: left;
		height:50px;
/* 		border-style: solid;
		border-width:1px; */
		margin-top:-50px;
	}
	
	#active .lang-entry {
		font-weight: 900;
		/* text-decoration:underline; */
	}
	
	.lang-entry > p{
		
		margin-top:0px;
		font-size:20px;
		text-align:left;
		font-family:'CobertRegular';
	}
	
	.lang-entry > p > img{
		
		width:45px; 
		height:40px; 
		margin-top:-16px; 	
	}
/* CLICK Menu END */

	
	.content{
	
		background: rgba(255,255,255,0.9);
	/* 	margin-left:150px;
		margin-right:100px; */
		min-height:350px;
		overflow:hidden;
	}
	
	.imgbox{
	
		margin-left:160px; 
		margin-right:160px;
		margin-bottom:15px;
		margin-top:35px;
		font-family:'BebasNeueRegular';
		
	}
	
	.box1{

		margin-left:160px; 
		margin-right:160px;
		float:left;
		margin-bottom:0px;
		margin-top:15px;
		font-family: 'Lato', sans-serif; 
		font-size:17px;
	}
	.box1 > p{text-align: left;}
	.box1 > h3{font-family:'BebasNeueRegular';}
	
	.footer{
	
		  position: relative;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  padding-top:4px;
		  padding-bottom: 4px;
		  padding-left:10px;
		  padding-right:10px;
		  max-height:75px;
		  background-color: #d6dae0;
		  text-align: center;
		  font-family:'BebasNeueRegular';
		  font-size:10px;
		  line-height: 0.7em;
		  -moz-box-shadow:1px 0px 2px #cbcab4;-webkit-box-shadow:1px 0px 2px #cbcab4;box-shadow:1px 0px 2px #cbcab4;
	}
	
	.servicebox{
		
		margin-left:10px; 
		margin-right:10px; 
		margin-top: 10px;
		margin-bottom: 10px;
		float: left; 
		/* max-width: 500px;  */
		position: relative; 
		background: rgba(255,255,255,0.7);
		border-radius: 4px;
	}
	.servicebox > h1{
		
		font-family:'BebasNeueRegular';
		font-size: 35px;
		text-align: left; 
		font-weight: 450;
		margin-left: 10px;
		margin-right: 10px; 
	}
	.servicebox > p{
		
		margin-left: 20px;
		margin-right: 10px;
		text-align: left; 
	}
	
	#icons_div{
		
		padding-left:5px;
		float: left;
/* 		border-style: solid;
		border-width:1px; */
		min-width:38%;	
	}
	
	#spec_icon{
		
		float:none;
	}

	#icon_image{
		
		width:40px; 
		height:40px; 
		margin-top:-12px; 
	}
	
	#logo{
		
		margin-left:-70px;
	}
	
/*-------- header image ----------*/
	.header_img{
		margin-top: -270px; position: relative; right: 1; bottom: 1; left: 1; z-index: -2;
	}
	.header_logo{
		height:250px;  margin-top: -50px; margin-bottom: -75px;
	}
/* --------------------------------- */

/* ------- "Nosso Trabalho" -------- */

	.box2{
		float:left;
		margin-left:160px; 
		margin-right:160px;
		margin-bottom:0px;
		margin-top:15px;
		font-family:'BebasNeueRegular';
		border-style: solid;
		border-width:1px;
		font-family: 'Lato', sans-serif; 
	}
	
	.box2 .row{
		max-width:45%; float:left; padding:10px;
	}
	
		.box2 .row .title{
			text-align:center;
			font-family:'BebasNeueRegular';
		}
		.box2 .row .text{
			text-align:justify; font-size:14px;
		}
	
	.box2 .map{
		max-width:50%; float:left; padding:10px;
	}
		.box2 .map>img{
			width:100%;
		}
		
	.iframe2{
		height:350px; width:50%; border:none; overflow:hidden; margin-right:0px;
	}
	
/* --------------------------------- */

/* -------- MAP -------- */

	.col{
		margin-left:0px; 
		padding-right:5px; 
		margin-top: 10px;
		margin-bottom: 10px;
		float: left; 
		position: relative; 
		border-radius: 4px;
		text-align:justify;
		max-width:45%;
	}
	.col>p{
		text-align:justify;
		margin-left: 10px;
		margin-right: 5px;
	}

/* --------------------- */


/* -------- Parceiros -------- */

.wide{
	float:left; padding:15px;
}
.square{
	float:left; padding:5px; padding-left:50px; padding-right:50px;
}
/* --------------------------- */
	
@media screen and (max-width: 1000px) {

	.codrops-top span.right{margin-right:10px;}
	
	.container > header h2, p.info{

				margin-left: -20px;
				margin-right:0px;
	}
	
/* -------- MAP -------- */
	.col{max-width:100%;}
/* -------- --- -------- */

	#logo{
		
		margin-left:0px;
	}
	
	.box1{

			margin-left:55px; 
			margin-right:85px;
			margin-bottom:40px;
			margin-top:15px;
	}

/* ------- "Nosso Trabalho" -------- */
	.box2 .row{
		max-width:1000px; padding:10px; text-align:center; 
	}

	.iframe2{
		width: 100%; 
	}
/* --------------------------------- */
}

@media screen and (max-width:670px){

		.box1{

				margin-left:35px; 
				margin-right:65px;
				margin-bottom:40px;
				margin-top:15px;
		}
	
	.container > header{text-align: left;}
	
	header>h4{
		padding-bottom: 25px;
	}

	#arrow{
		margin-left:115px;
		margin-right:100px;

	}
	
	#spec_icon{
		
		float:none;
	}

/* ------- "Nosso Trabalho" -------- */
	.box2{
		margin-right:20px;
		margin-left:20px;
	}
	.box2 .map{
		max-width:100%; float:left; padding:0px; margin-left:-20px;
	}

/* --------------------------------- */

}
	
@media screen and (max-width:600px){
		.box1{

				margin-left:25px; 
				margin-right:55px;
				margin-bottom:40px;
				margin-top:15px;
		}
	
	.header_img{
		margin-top: -230px;
	}
	.header_logo{
		height:220px;  
	}
	header>h4{
		margin-bottom:25px;
		padding-bottom: 25px;
	}
	
	#arrow{
		margin-left:50px;
		margin-right:100px;

	}
	#email{
		font-size:12px;
	}

}
	
@media screen and (max-width:500px){
		.box1{

				margin-left:25px; 
				margin-right:55px;
				margin-bottom:40px;
				margin-top:15px;
		}
		.codrops-top span.right{margin-right:65px;}

		#arrow{
			margin-left:10px;
			margin-right:10px;

		}
		
/* -------- Parceiros -------- */

#wide{
	float:left; padding:10px;
}
#square{
	float:left; padding:5px; padding-left:50px; padding-right:50px;
}
/* --------------------------- */

}

